/*SHANGHAI FONT*/
@font-face {
  font-family: 'shanghai';
  src: url('../font/shanghai.ttf');
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*APP*/
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin-top: -10px;

  background-color: skyblue;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 1000px;
}

.header{
  width: 80%;
  background-color: cornflowerblue;
  padding: 10px;
  color: yellow;
  letter-spacing: 5px;

  margin-top: -150px;
  /* position: fixed; */
  z-index: 997;
}
.title
{
  font-family: 'shanghai';
  font-size: 3rem;
  margin-bottom: 5px;
  margin-top: 20px;

  /* position: fixed;
  z-index: 998; */

}
/*SEARCHBAR*/
.searchbar{
  /* margin-top: -45px !important; */

  width: 80%;
  padding: 10px;
  background-color: rgb(131, 129, 129);
  /* position: fixed; */
  /* margin-top: 95px; */

}

.searchinput{
  width: 80%;
  height: 40px;
}

/*EVERYTHING*/
.everything{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 60%;
}
/*MAIN CHARACTER CARD*/

.mainCharacterCard{
  padding: 20px;
  width: 90%;
  background-color: lightgray;
  border-radius: 8px;
  border: 5px solid darkgray;
  margin: 3px;

  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;


}

.mainCharacterCardClicked{
  padding: 20px;
  width: 90%;
  background-color: lightgray;
  border-radius: 8px;
  border: 5px solid goldenrod;
  outline:2px solid greenyellow;
  margin: 3px;

  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  /* outline: yellow solid 5px; */
}

.mainCharacterCard:active{
  transform: scale(96%);
  border: solid 1px blue;

}
      .mainCharacter{
      pointer-events: none;
      font-size: 3rem;
      margin: 1%;
      background-color: rgb(121, 201, 233);
      border-radius: 50%;
      padding: 2%;

      }
      .mainCharacterPinyin{
        pointer-events: none;
        font-weight: bolder;
        margin: 3%;
        font-size: 2rem;


      }
      .mainCharacterMeaning{
        pointer-events: none;
        margin: 3%;
        font-size: 2rem;
        margin-right: 6%;

      }
      .listOfSimilarCharacters{
        pointer-events: none;
        font-size: 1.5rem;
        letter-spacing: 20px;


      }

/*SIMILAR CHARACTER CARD*/
.similarCharacterCardNotVisible{
  display: none;

}



.tg{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 60%;
}

/*EVERYTHINGSIMILAR*/
.everythingsimilar{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 100%;
}

.similarCharacterCard{
  background-color: rgb(224, 218, 218);
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: 2px;
  border: solid rgb(197, 194, 194) 8px;
  border-radius: 12px;
  /* outline: 1px solid ; */
}







                            .similarCharacterInfo{
                              display: flex;
                              flex-direction: row;
                              /* background-color: green; */
                              width: 100%;
                            }
                            .similarCharacter{
                              /* background-color: orange; */
                              margin: 20px;
                              font-size: 2.5em;
                              background-color: rgb(171, 220, 240);
                              border-radius: 50%;
                              padding: 2%;
                            }

                                      .pinyinAndMeaning{
                                        display: flex;
                                        flex-direction: row;
                                        font-weight: bolder;
                                        align-items: center;
                                        /* background-color: lightgrey; */
                                        width: 40%;
                                      }
                                      .similarCharacterMeaning{
                                      font-size: 1.5em;

                                       
                                      }
                                      .similarCharacterPinyin{
                                        margin: 10%;
                                        font-size: 1.5em;

                                        
                                        
                                      }
                                                .allRadicals{
                                                  display: flex;
                                                  flex-direction: column;
                                                  width: 50%;
                                                  /* background-color: lightsalmon; */
                                                  margin-left: 0%;
                                                }
                                                .similarEverything{
                                                  display: flex;
                                                  flex-direction: row;
                                                  height: 40px;
                                                  width: ;
                                                  align-items: center;
                                                  
                                                }
                                                            .similarCharacterRadicals{
                                                              display: flex;
                                                              flex-direction: column;
                                                  
                                                              width: 30%;
                                                              background-color: ;
                                                            }
                                                            .similarCharactersPinyin{
                                                              width: 30%;
                                                              background-color: ;
                                                            }
                                                            .similarCharactersMeaning{
                                                              width: 30%;
                                                              background-color: ;
                                                            }


/*CLASSES TO BE ADDED */

.red{
  color: rgb(187, 25, 25);
}
.green{
  color: darkgreen;
}
.purple{
  color: rgb(143, 23, 143);
}
.blue{
  color: blue;
}


.displaynone{
display: none;
}



/* TRANSITION SLIDE IN
.item-enter {
          transform: translateX(+120%);
  transition: 1s;
  background: none;
}
.item-enter-active {
          transform: translateX(0%);
}



.item-exit {
          transform: translateX(-120%);
  transition: 1s;
}

.item-exit-active {
          transform: translateX(0%);
}  */


/*TRANSITION FADE IN */
.item-enter {
  opacity: 0;
transition: 0.5s;
background: none;
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0%);
}



.item-exit {
  transform: translateX(-120%);
transition: 0.5s;
}

.item-exit-active {
  transform: translateX(0%);
} 















/*QUIZ STARTS HERE*/
.quiz{
  /* background-image: url('../images/1.jpg'); */

  background-color: lightgray;
  background-size: cover;
  background-position: center;
height: 100vh;
width: 100%;

display: flex;
flex-direction: row;
justify-content: space-evenly;

}

.a{
  background-image: url('../images/1.jpg');
}

.b{
  background-image: url('../images/2.jpg');
}

.c{
  background-image: url('../images/3.jpg');
}

.d{
  background-image: url('../images/4.jpg');
}

.e{
  background-image: url('../images/5.jpg');
}

.f{
  background-image: url('../images/6.jpg');
}
.g{
  background-image: url('../images/7.jpg');
}
.h{
  background-image: url('../images/8.jpg');
}
.i{
  background-image: url('../images/9.jpg');
}
.j{
  background-image: url('../images/10.jpg');
}
.k{
  background-image: url('../images/11.jpg');
}
.l{
  background-image: url('../images/12.jpg');
}
.m{
  background-image: url('../images/13.jpg');
}
.n{
  background-image: url('../images/14.jpg');
}
.o{
  background-image: url('../images/15.jpg');
}
.p{
  background-image: url('../images/16.jpg');
}
.q{
  background-image: url('../images/17.jpg');
}
.r{
  background-image: url('../images/18.jpg');
}
.s{
  background-image: url('../images/19.jpg');
}
.t{
  background-image: url('../images/20.jpg');
}
.u{
  background-image: url('../images/21.jpg');
}








/*START AND NEXT BUTTONS*/
.startbutton{
  cursor: pointer;
  background: linear-gradient(180deg, white, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.5);
  margin: 10px;
  height: 40px;
  padding: 0 40px;
  border-radius: 50px 50px;
  align-self: center;
}

.next{
  cursor: pointer;
  background: linear-gradient(180deg, white, #ffcc91);
  border: 2px solid #d38558;
  box-shadow: 0px 5px 10px rgba(0,0,0, 0.5);
  margin: 10px;
  height: 40px;
  padding: 0 40px;
  border-radius: 50px 50px;
  align-self: center;
}

.next:disabled{
  opacity: 0.5;
  cursor: initial;
}

/*QUESTION CARD*/
.questioncard{
  align-self: center;
  max-width: 1000px;
  /* background: #ebfeff; */
  background: none;
  border-radius: 10px;
  /* border: 2px solid #0085a3; */
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.55); 
  display: flex;
  flex-direction: column;
  opacity: 0.93;
}

/*ANSWER BUTTONS*/
/* .answerbuttons{
  cursor: pointer;
font-size: 0.8rem;
width: 100%;
height: 40px;
margin: 5px 0;
border-radius: 3px;
display: flex;
flex-direction: column;
} */
.answerbutton{
cursor: pointer;
font-size: 2rem;
width: 100%;
height: 60px;
margin-top: 5px;
margin-bottom: 5px;
border-radius: 3px;

background: linear-gradient(90deg, #56ccff, #6eafb4);
border: 3px solid #ffffff;
box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
border-radius: 10px;
color: #000;
text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.answerbutton:disabled{
opacity: 0.8;
cursor: initial;
}

.correct{
  background: linear-gradient(90deg, #56FFA4, #59BC86);
}
.incorrect{
  background: linear-gradient(90deg, #FF5656, #C16868 );
}



.info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.questionPM{
  align-self: center;
  max-width: 1000px;
  /* background: #ebfeff; */
  /* background-color: cornflowerblue; */

  border-radius: 10px;
  /* border: 2px solid #0085a3; */
  
  padding: 20px;
  text-align: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.55); 
  display: flex;
  flex-direction: column;
  margin: 20px;
  opacity: 0.95;
}


.qpm{
  font-family: shanghai;
  color: yellow;
  margin: 10px;
  padding: 15px;
  font-size: 1.8rem;
  text-decoration: wavy ;
  font-weight: bolder;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #56ccff, #6eafb4);
  border: 3px solid #ffffff;
  border-radius: 10px;
}


.qpmnormalfont{
  margin: 10px;
  padding: 15px;
  font-size: 1.8rem;
  text-decoration: wavy ;
  font-weight: bolder;
  letter-spacing: 2px;
  background: linear-gradient(90deg, #56ccff, #6eafb4);
  border: 3px solid #ffffff;
  border-radius: 10px;
}