.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*APP*/
.App {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: skyblue;
}
/*EVERYTHING*/
.everything{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 60%;
}
/*MAIN CHARACTER CARD*/

.mainCharacterCard{
  padding: 20px;
  width: 90%;
  background-color: lightgray;
  border-radius: 8px;
  border: 5px solid darkgray;
  margin: 3px;

  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;


}

.mainCharacterCardClicked{
  padding: 20px;
  width: 90%;
  background-color: lightgray;
  border-radius: 8px;
  border: 5px solid goldenrod;
  outline:2px solid greenyellow;
  margin: 3px;

  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  /* outline: yellow solid 5px; */
}

.mainCharacterCard:active{
  transform: scale(96%);
  border: solid 1px blue;

}
      .mainCharacter{
      pointer-events: none;
      font-size: 3rem;
      margin: 1%;
      background-color: rgb(121, 201, 233);
      border-radius: 50%;
      padding: 2%;

      }
      .mainCharacterPinyin{
        pointer-events: none;
        font-weight: bolder;
        margin: 3%;
        font-size: 2rem;


      }
      .mainCharacterMeaning{
        pointer-events: none;
        margin: 3%;
        font-size: 2rem;
        margin-right: 6%;


      }
      .listOfSimilarCharacters{
        pointer-events: none;
        font-size: 1.5rem;
        letter-spacing: 20px;


      }

/*SIMILAR CHARACTER CARD*/
.similarCharacterCardNotVisible{
  display: none;

}



.tg{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 60%;
}

/*EVERYTHINGSIMILAR*/
.everythingsimilar{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  width: 100%;
}

.similarCharacterCard{
  background-color: rgb(224, 218, 218);
  display: flex;
  flex-direction: row;
  width: 80%;
  align-items: center;
  margin: 2px;
  border: solid rgb(197, 194, 194) 8px;
  border-radius: 12px;
  /* outline: 1px solid ; */
}







                            .similarCharacterInfo{
                              display: flex;
                              flex-direction: row;
                              /* background-color: green; */
                              width: 100%;
                            }
                            .similarCharacter{
                              /* background-color: orange; */
                              margin: 20px;
                              font-size: 2.5em;
                              background-color: rgb(171, 220, 240);
                              border-radius: 50%;
                              padding: 2%;
                            }

                                      .pinyinAndMeaning{
                                        display: flex;
                                        flex-direction: row;
                                        font-weight: bolder;
                                        align-items: center;
                                        /* background-color: lightgrey; */
                                        width: 40%;
                                      }
                                      .similarCharacterMeaning{
                                      font-size: 1.5em;

                                       
                                      }
                                      .similarCharacterPinyin{
                                        margin: 10%;
                                        font-size: 1.5em;

                                        
                                        
                                      }
                                                .allRadicals{
                                                  display: flex;
                                                  flex-direction: column;
                                                  width: 50%;
                                                  /* background-color: lightsalmon; */
                                                  margin-left: 0%;
                                                }
                                                .similarEverything{
                                                  display: flex;
                                                  flex-direction: row;
                                                  height: 40px;
                                                  width: ;
                                                  align-items: center;
                                                  
                                                }
                                                            .similarCharacterRadicals{
                                                              display: flex;
                                                              flex-direction: column;
                                                  
                                                              width: 30%;
                                                              background-color: ;
                                                            }
                                                            .similarCharactersPinyin{
                                                              width: 30%;
                                                              background-color: ;
                                                            }
                                                            .similarCharactersMeaning{
                                                              width: 30%;
                                                              background-color: ;
                                                            }








/* TRANSITION SLIDE IN
.item-enter {
          transform: translateX(+120%);
  transition: 1s;
  background: none;
}
.item-enter-active {
          transform: translateX(0%);
}



.item-exit {
          transform: translateX(-120%);
  transition: 1s;
}

.item-exit-active {
          transform: translateX(0%);
}  */


/*TRANSITION FADE IN */
.item-enter {
  opacity: 0;
transition: 0.5s;
background: none;
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0%);
}



.item-exit {
  transform: translateX(-120%);
transition: 0.5s;
}

.item-exit-active {
  transform: translateX(0%);
} 